// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group {
    width: 700px;
    right: -104px;
}

input#q {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.input-group-btn:last-child>.btn {
  padding: 9px 12px;
  margin: -5px -5px -5px 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}