$('#new_playlist').remove();
$('#new_link').show();
$('.dropdown-menu').append("Hello");

// <li class="playlist" data-songs="<%=playlist.songs.to_json%>" data-playlistid="<%=playlist.id%>"><%=playlist.name%></li>