$('.new_playlist').remove();
$('#new_link').show();
$('.dropdown-menu').append("<li class='playlist' data-songs=" + '<%=j Playlist.last.songs.to_json%>' + "data-playlistid=" + '<%= j Playlist.last.id.to_s%>' + ">" + '<%= j Playlist.last.name %>' + "</li>");