<div class="widget">
    <%= form_tag do %>
        <form role="form">
            <div class="form-group"
                <%= label_tag(:q, "Pickl a song to sing:") %>
                <%= text_field_tag(:q) %>
            </div>
            <%= submit_tag("Search") %>
        </form>
    <% end %>
</div>