<div id="playlist_panel">

  <span class="dropdown polls-subtitle">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Playlists<b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
        <%@playlists.each_with_index do |playlist, i|%>
          <li class="playlist" data-songs="<%=playlist.songs.to_json%>" data-playlistid="<%=playlist.id%>"><%=playlist.name%></li>
        <%end%>
    </ul>
  </span>

  <div id="playlist_songs">
  </div>

</div>