<%= form_tag results_path, id: "search" do %>
  <form class="navbar-form navbar-left form-inline">
    <div class="form-group-group">
      <div class="input-group" style="width: 700px;">
        <input type="text" id = "q" name = "q" class="form-control" placeholder="Pickl A Song">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </form>
<% end %>
